body {
    margin: 0px;
    padding: 0px;
    background-color: #000;
    font-family: sans-serif;
}

article {
    display: flex;
    justify-content: center;
}
form {
    width: 900px;
    background-color: #303099;
    padding: 30px;
    border-radius: 20px;
    color: #fff;
}

h1 {
    text-align: center;
    font-size: 50px;
    color: #303099;
    text-shadow: 2px 2px 4px #fff;
}

label {
    margin-right: 10px;
}

.forms {
    display: flex;
    margin: 10px;
}

fieldset {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

form h1{
    display: block;
    font-size: 12px;
    text-align: left;
    color: white;
    text-shadow: none;
    margin-left: 10px;
    margin-bottom: -10px;
}

input {
    padding: 10px;
}

.primeiro_form {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.form_part3 input{
    width: 100%;
}
.form_part4 {
    justify-content: space-between;
}
.form_part5 select {
    width: 100%;
}
.form_part6 {
    flex-direction: column;
}
#botao {
    display: flex;
    justify-content: center;
}