body {
    margin: 0px;
    padding: 0px;
    background-color: #000;
    font-family: sans-serif;
}

article {
    display: flex;
    justify-content: center;
}
form {
    width: 900px;
    background-color: #303099;
    padding: 30px;
    border-radius: 20px;
    color: #fff;
}

h1 {
    text-align: center;
    font-size: 50px;
    color: #303099;
    text-shadow: 2px 2px 4px #fff;
}

label {
    display: block;
    margin-right: 10px;
}

.forms {
    display: flex;
    margin: 10px;
}

fieldset {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

form h1{
    display: block;
    font-size: 12px;
    text-align: left;
    color: white;
    text-shadow: none;
    margin-left: 10px;
    margin-bottom: -10px;
}

input {
    padding: 10px;
}

.form_part1,
.form_part2,
.form_part4 {
    justify-content: space-between ;
}
.separacao {
    flex: 1;
}

.form_part1 input,
.form_part2 input,
.form_part4 input{
    width: 90%;
}

.data,
.telefone {
    width: 100%;
}
.senha {
    width: 49.8%;
}

.form_part3 {
    display: block;
    width: 100%;
}
.form_part3 input {
    width: 86.8%;
}