body {
    margin: 0px;
    padding: 0px;
    background-color: #000;
    font-family: sans-serif;
}

article {
    display: flex;
    justify-content: center;
}
form {
    width: 800px;
    background-color: #303099;
    padding: 30px;
    border-radius: 20px;
    color: #fff;
}

h1 {
    text-align: center;
    font-size: 50px;
    color: #303099;
    text-shadow: 2px 2px 4px #fff;
}

label {
    margin-right: 10px;
}
.form_part1 label,
.form_part2 label,
.form_part3 label,
.form_part4 label,
.form_part5 label {
    display: flex;
    flex-direction: column;
}

.forms {
    display: flex;
    margin: 10px;
}

form h1{
    display: block;
    font-size: 12px;
    text-align: left;
    color: white;
    text-shadow: none;
    margin-left: 10px;
    margin-bottom: -10px;
}

input {
    padding: 10px;
    outline: 0;
    border: 2px solid #000;
    border-radius: 5px;
}

.form_part1 input,
.form_part2 input,
.form_part3 input,
.form_part4 input {
    font-size: 15px;
}

.primeiro_form,
.form_part4 {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.sub_form_part {
    margin-bottom: 10px;
}

.form_part1,
.form_part2,
#senha1,
#senha2 {
    flex: 1;
}

.form_part3 input {
    width: 750px;
}
.form_part5 select {
    width: 770px;
}

.form_part4 {
    justify-content: space-between;
}
.form_part6 {
    flex-direction: column;
}

.form_part6 a{
    color: #000;
}
#botao {
    display: flex;
    justify-content: center;
}
#mod_botao {
    width: 300px;
    background-color: #000;
    color: #fff;
    font-size: 15px;
}

select {
    outline: 0;
    font-size: 15px;
    height: 35px;
    border: 2px solid #000;
    border-radius: 5px;
}

footer {
    height: 80px;
    background-color: #1e1e1e;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}

.footer_copy {
    margin-top: 10px;
    margin-left: 30px;
    color: #5c5c5c;
    border-bottom: 2px dotted #2c2c2c;
}

.footer_img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

#insta {
    width: 30px;
    padding-right: 8px;
}
#linke {
    width: 36px;
}
#git {
    width: 48px;
}

@media (max-width: 870px) {
    form {
        width: 500px;
    }

    .form_part3 input {
        width: 207px;
    }
    
    .form_part5 select {
        width: 230px;
    }

    .form_part1 input,
    .form_part2 input,
    .form_part3 input,
    .form_part4 input {
        font-size: 12px;
    }
}

@media (max-width: 600px) {
    form {
        width: 300px;
    }

    .tipoDe_pessoa {
        font-size: 15px;
    }

    .primeiro_form,
    .form_part4 {
        display: block;
    }
    
    input {
        padding: 5px;
    }
    
    label {
        font-size: 14px;
    }

    .form_part3 input {
        width: 257px;
    }
    
    .form_part5 select {
        width: 270px;
    }

    select {
        height: 30px;
        font-size: 13px;
    }

    #senha1 {
        margin-bottom: 5px;
    }
}

@media (max-width: 370px) {
    form {
        width: 250px;
    }

    .form_part3 input {
        width: 207px;
    }
    
    .form_part5 select {
        width: 220px;
    }
    
}